    .grid-item {
        border: 1px solid;
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 100px 100px 100px; //permite decirle a css de uqe tamaño es cada grid-item x columna
        grid-template-rows: 100px 100px 100px; //permite decirle a css de uqe tamaño es cada grid-item x filas
        grid-gap: 15px; //distancia entre cell
    }
    
    img {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        object-fit: cover;
    }
    
    .clip-map {
        overflow: hidden;
        height: 330px;
        display: flex;
        border-style: solid;
        border-width: medium;
    }
    
    .description {
        border: solid medium;
    }