<div class="container-fluid">
    <div class="row col-md-4">

        <div class="col-md-12" routerLinkActive="active">
            <a tabindex="0" class="btn btn-lg btn-outline-secondary btn-block nav-link" role="button" [routerLink]="['mundo']">Mundo</a>
        </div>
        <div class="col-md-12">
            <a tabindex="0" class="btn btn-lg btn-outline-secondary btn-block" role="button">Pelear!</a>
        </div>

        <div class="col-md-12">
            <a tabindex="0" class="btn btn-lg btn-outline-secondary btn-block" role="button">Inventario</a>
        </div>
        <div class="col-md-12">
            <a tabindex="0" class="btn btn-lg btn-outline-secondary btn-block" role="button">Misiones</a>
        </div>

    </div>
</div>