<div class="container">

    <div class="row" style="border: lightslategray;">
        <div class="col-md-4">
            <h2>Mochila</h2>
            <tr></tr>
            <p style="color: darkgreen;">Dinero: {{currentMoney}}</p>
            <tr></tr>
            <ul>

                <li *ngFor="let i of items; let x = index">
                    <div>{{i.name}} / valor : {{i.value}}<button (click)="vender(i.id)">vender</button></div>
                </li>

            </ul>


        </div>
        <div class="col-md-4">
            <h2>Caracteristicas</h2>
            <tr></tr>
            <div>Heroe: {{Hero.name}}</div>
            <div>Nivel : {{Hero.level}}</div>
            <div>Experiencia : {{Hero.experience}} / {{Hero.expRequerida}}</div>

        </div>
        <div class="col-md-4">
            <h2>Misiones</h2>
            <tr></tr>
            <div>
                <ul>
                    <li *ngFor="let quest of Quests"> {{quest.titulo}}({{quest.lvlDifficult}}) <button (click)='completarQuestTest()'>Completar</button></li>
                </ul>
            </div>


        </div>


    </div>
    <div>

    </div>
    <div>

    </div>
</div>